.hero {
    
    &__section{
        border: 1px solid rgba(52, 52, 52, 0.2);
        margin-bottom: 110px;
    }
    
    margin-top: 160px;
    &__top {
        display: flex;
        justify-content: space-between;
        &__button {
            width: 390px;
            margin: 0 auto;
            padding: 40px 10px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 127.5%;
            letter-spacing: 0.1em;
            color: #343434;
            background-color: #F2F3F5;
            border: 1px solid rgba(52, 52, 52, 0.2);
            margin-bottom: 48px;

            &--active {
                background: #ffffff;
                border-bottom: none;
            }
        }
    }
    
    &__item {
        display: flex;
        align-items: baseline;
        
        &__heading {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 127.5%;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #343434;
            width: 155px;
            max-width: 155px;
            margin-right: 45px;
        }
        
        &__text {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 127.5%;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #343434;
        }
    }

    &__bottom {
        &__button {
            margin: 0 auto;
            margin-right: 0;
            margin-bottom: -55px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 800;
            font-size: 18px;
            line-height: 150%;
            text-transform: uppercase;
            color: #FFFFFF;
            background-color: #FF9619;
            border: none;

        }
    }
}

@media only screen and (max-width: 376px) {
    .hero {

        &__section {
            border: none;
        }

        &__top {
            display: flex;
            flex-direction: column;

            &__button {
                width: 340px;
                height: 53px;

                &--active {
                    background-color: #F2F3F5;
                    border: 1px solid rgba(52, 52, 52, 0.2);
                }
            }

        }
        &__bottom {
            display: none;
            &__button {
                margin: 0 auto;
            }
        }
    }
}