.header {
    &__desktop {
        display: none;

    }

    &__close-btn {
        display: none;
    }

    &__logo {
        display: flex;
    }

    
    &__list {
        margin: 0;
        margin-top: 52px;
        margin-bottom: 25px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    &__item {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 150%;
        
        &__link {
            text-transform: uppercase;
            text-decoration: none;
            color: #343434;
            &:hover {
                color: #FF9619;
                transition: all 0.3s ease;
            }
        }
        &__tel {
            display: flex;
            align-items: center;
            text-decoration: none;
            
            &--number {
                display: none;
            }
            
            &--span {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 150%; 
                color: #343434;
            }
        }
        
        &__lang {
            display: flex;
            align-items: center;
            background-color: transparent;
            &::after {
                content: "";
                width: 12px;
                height: 8px;
                margin-left: 6px;
                background-image: url(./../../../img/header-arrow.png);
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            &--select {
                border: none;
                outline: none;
                color: rgba(52, 52, 52, 0.7);
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 150%;
                appearance: none;
            }
            
            &--option {
                display: flex;
            }
        }
    }
    
    &__item1 {
        display: none;
    }
    
    &__burger {
        display: none;
    }
    
    &__nav {
        
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            text-align: center;
            justify-content: space-between;
            align-items: baseline;
        }
        
        &__item {
            
            &--link {
                text-decoration: none;
            }
            
            &--heading {
                font-family: 'Open Sans';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 150%;
                display: flex;
                justify-content: center;
                text-transform: uppercase;
                color: #343434;
                margin: 6px auto 0;
                
                &__large {
                    max-width: 111px;
                }
            }
        }
    }
}

.header-bottom {
    margin-top: 63px;
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    
    &__model {
        display: flex;
        align-items: center;
        &::after {
            content: "";
            width: 13px;
            height: 8px;
            margin-left: 4px;
            background-image: url(./../../../img/header-arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    
    &__select {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 110%;
        outline: none;
        border: none;
        appearance: none;
        background-color: transparent;
        color: #343434;
    }
    
    &__right-section {
        display: flex;
    }
    
    
    &__button {
        margin-top: 5px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
    
    &__button-mini {
        display: none;
        cursor: pointer;
    }
    &__button-mini3 {
        display: none;
        cursor: pointer;
    }
    
    &__form {
        padding: 7px;
        display: flex;
        border: 1px solid #000000;
        margin-top: 5px;
        margin-left: 43px;
        color: #D1D1D1;
    }
    
    &__search {
        border: none;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
    }
    
    &__input {
        padding: 0;
        border: none;
    }

}

@media only screen and (max-width: 376px) {
    .header {
        
        &__desktop {
            display: flex;
            width: 239px;
            height: 667px;
            position: absolute;
            z-index: 100;
            top: 0;
            right: -40px;
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            
            &__list {
                padding: 28px 31px;
                display: flex;
                flex-direction: column;
                list-style: none;
                justify-content: space-between;
            }

            &__item {
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 135%;
            }

        }

        &__close-btn {
            display: flex;
            position: absolute;
            background-color: transparent;
            right: 20px;
            top: 20px;
            max-width: 100px;
            height: 20px;
            border: none;
        }
        
        &__close-img {
            width: 16px;
            height: 15px;
        }





        &__logo {
            width: 111px;
            height: 43px;
        }

        &__list {
            margin-top: 14px;
        }
        
        &__item {
            &__tel {
                &--number {
                    display: inline-block;
                }
                &--span {
                    display: none;
                }
            }
            
        }
        
        &__item1 {
            order: 1;
            display: flex;
        }
        
        
        &__item-none {
            display: none;
            
        }
        &__nav {
            display: none;
        }
        
        &__burger {
            border: none;
            background-color: transparent;
            display: flex;
        }
        
    }
    
    .header-bottom {
        
        &__list {
            display: flex;
            flex-wrap: wrap;
        }
        
        &__item1 {
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            width: 300px;
        }
        
        &__button {
            display: none;
        }
        
        &__section {
            max-width: 320px;
        }
        
        &__button-mini {
            padding-left: 80px;
            border: none;
            background-color: transparent;
            display: inline-block;
        }
        
        &__button-mini3 {
            padding: 0;
            border: none;
            background-color: transparent;
            display: inline-block;
        }
        
        &__select {
            font-weight: 400;
            font-size: 16px;
            line-height: 110%;
        }
        
        &__right {
            text-align: center;
            margin-top: 30px;
        }
        
        &__form {
            padding: 7px;
            margin-top: 30px;
        }
        
        
        &__input {
            max-width: 200px;
        }
    }
}