.product {
    margin-top: 120px;
    
    &__left {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        &-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 68px;
            width: 570px;
            height: 278px;
            background: #F2F3F5;
            
        }
        
        &-section {
            margin-left: 30px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
        }
        
        &--img {
            width: 267px;
            height: 176px;
            mix-blend-mode: darken;
        }
        
        &--heading {
            margin: 0;
            margin-bottom: 15px;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            text-transform: uppercase;
            color: #4B4844;
        }
        
        &--text {
            max-width: 259px;
            margin: 0;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 300;
            font-size: 12px;
            line-height: 127.5%;
            display: flex;
            align-items: center;
            letter-spacing: 0.1em;
            color: #4B4844;
        }
    }
    
    &__button-number {
        display: flex;
        justify-content: center;
        gap: 15px;
    }
    
    &__number {
        margin-bottom: 60px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        border: none;
        background-color: transparent;
        
        &:nth-child(odd) {

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            color: rgba(52, 52, 52, 0.3);
        }

        // &--blur {
        // }
        
        &:first-child {
            
            &::before {
                content: "<";
                
            }
        }
        
        &:last-child {
            &::after {
                content: ">";
            }
        }
        
    }
    
    &__link {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        margin: 0 auto;
        width: 188px;
        height: 43px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FF9619;
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 174px;
    }
    
}

@media only screen and (max-width: 376px) {
    .product {

        &__left {
            max-width: 353px;
            &-wrapper {
                max-width: 161px;
                margin: 0;
                margin-bottom: 92px;
                display: flex;
                flex-direction: column;
            }
            
            &-section {
                margin-left: 0;
            }

            &--heading {
                transform: translateY(30px);
                margin-top: 5px;
                display: flex;
                margin: 0;

            }
            &--text {
                display: none;
            }

            &--img {
                margin-top: 50px;
            }
        }
        
        &__number {
            
            &:nth-child(1n+2) {
                
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 300;
                color: rgba(52, 52, 52, 0.3);
            }
        }
    }
}